 :host { height:100%; } 
 .mat-dialog-container
 {
     padding: 0px!important;
 }
 .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
   .example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  .example-sidenav-container {

    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {

    flex: 1;
  } 
  

.messages{
    flex: 1 1 auto;
    display: flex;
    overflow: auto;
    margin:0 0 0 10px;
}

.new-message{
  
}

section {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
  .circle-image{
    display: block;
    padding: 2px;
    border-radius: 50%;
  
  }
  .spacer {
    flex: 1 1 auto;
  }