<mat-card class="user-data-card">
    <mat-card-header>
        <img mat-card-avatar  [src]="profilePictureUrl" alt="Profile picture" />
      <mat-card-title>{{user.name}}</mat-card-title>
      <mat-card-subtitle>{{currentStatusValue}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
            <mat-form-field>
                    <mat-select [(value)]="currentStatusValue" placeholder="Status">
                      <mat-option *ngFor="let status of statusValues" [value]="status">
                        {{ status }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br/>
                  <mat-form-field >
                      <input matInput placeholder="Display Name" [(ngModel)]="name" #displayName>
                    </mat-form-field>
                     <br/>
                       <button  mat-fab (click)="saveChanges()">
    <mat-icon >save</mat-icon>
  </button>
    </mat-card-content>
    
  </mat-card>