<form class="full-width">
	<mat-form-field>
		<input matInput placeholder="Search" #searchBox (input)="searchChanged(searchBox.value)">
	</mat-form-field>
</form>

	<mat-expansion-panel expanded="true"  hideToggle="true">
	  <mat-expansion-panel-header>
		<mat-panel-title matTooltip="Users with whom you have started a conversation" >
			<mat-icon>message</mat-icon>    Conversations
		</mat-panel-title> 
		
	  </mat-expansion-panel-header>
		 <app-loader *ngIf="loadingConversations"></app-loader>
	  <mat-list role="list">
		
			<ng-container *ngFor="let conversation of conversations">
				<mat-list-item *ngIf="conversation.visible" (click)="switch(conversation.id)" role="listitem">
		
					<mat-icon mat-list-icon class="large-mat-icon">
						<img   class="user-list-picture large-mat-icon" src="{{appConfig.profilePictureUrl}}/{{conversation.awayUser.id}}{{authorizationQueryString}}">
						<div class="circle user-status" [ngClass]="onlineStatus(conversation.awayUser)"></div>
					</mat-icon>
					<h4 matTooltip="{{conversation.awayUser.name}}" mat-line>{{conversation.awayUser.name | truncate : 15 : '..'}}
						<mat-icon *ngIf="conversation.hasUnreadMessages">markunread</mat-icon>
					</h4>		
					<label class="small-text" mat-line *ngIf="conversation.messages && conversation.messages.length>0">{{conversation.messages[conversation.messages.length-1].content | truncate : 15 : '..' }}</label>
					<label class="small-text" mat-line *ngIf="conversation.messages && conversation.messages.length==0">Last Seen</label>
					<label class="small-text" mat-line *ngIf="conversation.messages && conversation.messages.length==0">{{conversation.lastUpdate | amCalendar }}</label>
				</mat-list-item>
			</ng-container>	
		</mat-list>
	</mat-expansion-panel>
	<mat-expansion-panel  expanded="true" hideToggle="true">
	  <mat-expansion-panel-header>
		<mat-panel-title matTooltip="Users with whom you haven't started a conversation yet">
				<mat-icon>person</mat-icon>  
		  Users
		</mat-panel-title>
		
	  </mat-expansion-panel-header>
	 <app-loader  *ngIf="loadingUsers"></app-loader>
	  <mat-list role="list">
					<ng-container *ngFor="let user of users">

			<mat-list-item *ngIf="user.visible"  role="listitem" >
				<mat-icon mat-list-icon class="large-mat-icon">
					<img class="user-list-picture large-mat-icon" src="{{appConfig.profilePictureUrl}}/{{user.id}}{{authorizationQueryString}}">
					<div class="circle user-status" [ngClass]="onlineStatus(user)"></div>
				</mat-icon>
				<h4 matTooltip="{{user.name}}" mat-line>{{user.name | truncate : 15 : '..'}}</h4>
				<button mat-line mat-button color="accent" (click)="newConversation(user.id)">Start Conversation</button>			</mat-list-item>
					</ng-container>

		</mat-list>
	</mat-expansion-panel>
  
  

	