:host {  max-height: 100%;  }
.info-card{
    max-height:100px;
    padding:10px;
}
.user-status{
    margin-left:-25px;
    display: inline-block;
}
.user-list-picture
{
  border-radius:50%;
  
}

.large-mat-icon
{
   width:44px!important;
   height:44px!important;
   font-size:50px!important;
}
.small-text{
    font-size:10px!important;
}
.full-width{
    width:100%;
}

